{% extends "base.html" %}

{% block content %}


    <h2 style="width: 100%;">All Events (Custom table)</h2>


    <table class="table table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.start_datetime }}</td>
            <td>{{ event.end_datetime }}</td>
            <td>{{ event.location }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No events found.</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
