{#  -------- templates/home.html --------- #}
{% extends 'base.html' %}

{% block content %}

<div class="container p-5">
    <h1>Welcome to the FlexUp Events App !</h1>
    <p>Here you can create and manage events.</p>
    <ul>
        <li><a href="{% url 'events_custom' %}">View all events (custom view)</a></li>
        <li><a href="{% url 'events' %}">View all events (generic view)</a></li>
        <li><a href="{% url 'event_create' %}">Create a new event</a></li>
    </ul>
</div>


{% endblock %}
